# Python
__pycache__/
*.pyc
.env
venv/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
variables.tf
*.tfplan
tfplan

# Node/Frontend (if added later)
node_modules/

# MacOS
.DS_Store

